
.vscode/
npm-debug.*
.idea
*/.tmp/*
*/.gradle/*
local.properties
*.iml
*.log
*.bak
.DS_Store
node_modules
**/node_modules
*/node_modules

react-native/.expo/
react-native/android/

react-web/build/bundle.js
react-web/build/version.json

firebase/functions/build/
firebase/.firebase/
